@using OgrenciNotMvc.Models.EntityFramework
@model List<TblKulüpler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kulüp Adı</th>
    </tr>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Ad</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Kulupler/KulupEkle/" class="btn btn-warning">Kulüp Ekle</a>

