@model OgrenciNotMvc.Models.EntityFramework.TblKulüpler
@{
    ViewBag.Title = "KulupGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("KulupGuncelle", "Kulupler", FormMethod.Post))
{
    @Html.Label("Kulüp No")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.Label("Kulüp Ad")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
}

