@model OgrenciNotMvc.Models.EntityFramework.TblDersler
@{
    ViewBag.Title = "DersEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <label>Ders Adı</label>
    <input type="text" class="form-control" name="DersAd" />
    <button style="margin-top:10px" class="btn btn-success">Ekle</button>
</form>

